@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
